body {
    width: 960px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
}

#startgame {
    background-color: red;
    color: white;
    height: 100px;
    width: 100px;
}

#container {
    background-color: white;
    width: 900px;
    position: absolute;
    height: 800px;
}

#titleText{
    position: absolute;
    top: 50px;
    left: 300px;
}